# Excluding mac files
.DS_Store


# Excluding virtualenv files
WebApplication/pyEnv/
WebApplication/pyEnv*
WebApplication/pyEnv


WebApplication/media/
WebApplication/media*
WebApplication/media

# Excluding pycharm and python cache files
WebApplication/.idea/
WebApplication/WebApplication/__pycache__/
WebApplication/.idea/*
WebApplication/WebApplication/__pycache__/*
*/__pycache__/*
