{% extends 'base.html' %}
{% load static %}
{% block STYLESHEETS %}
{% endblock %}

{% block MAIN_CONTENT %}
      <section class="wrapper site-min-height">

            <div class="row justify-content-center">
                <!-- WEATHER-3 PANEL -->
              <div class="col-lg-4 col-md-4 col-sm-4 mb" style="margin-top: 2vh !important;">
                <div class="weather-3 pn centered">
                  <i class="fas fa-coins"></i>
                  <h1>{{ USER_INFO.credit }}$</h1>
                  <div class="info">
                    <div class="row justify-content-center">
                      <h3 class="centered">Your balance</h3>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /col-md-4 -->
            </div>


        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="custom-box">
                <div class="servicetitle">
                  <h4>Standard</h4>
                  <hr>
                </div>
                <div class="icn-main-container">
                  <span class="icn-container">$25</span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                <ul class="pricing">
                  <li>150 Mb Storage</li>
                  <li>1 Domain</li>
                </ul>
                <a class="btn btn-theme" href="#">Order Now</a>
              </div>
              <!-- end custombox -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="custom-box">
                <div class="servicetitle">
                  <h4>Mega Pack</h4>
                  <hr>
                </div>
                <div class="icn-main-container">
                  <span class="icn-container">$55</span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                <ul class="pricing">
                  <li>150 Mb Storage</li>
                  <li>1 Domain</li>
                </ul>
                <a class="btn btn-theme" href="#">Order Now</a>
              </div>
              <!-- end custombox -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="custom-box">
                <div class="servicetitle">
                  <h4>Ultra Pack</h4>
                  <hr>
                </div>
                <div class="icn-main-container">
                  <span class="icn-container">$98</span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                <ul class="pricing">
                  <li>150 Mb Storage</li>
                  <li>1 Domain</li>
                </ul>
                <a class="btn btn-theme" href="#">Order Now</a>
              </div>
              <!-- end custombox -->
            </div>
            <!-- end col-4 -->
          </div>
        <!--  /row -->
      </section>
{% endblock %}


{% block SCRIPTS %}
{% endblock %}