{% extends 'base.html' %}
{% load static %}
{% block STYLESHEETS %}
{% endblock %}

{% block MAIN_CONTENT %}
     <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> List of all projects you have done</h3>
        <hr>

             <table class="table table-striped">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Client</th>
                          <th scope="col">Before</th>
                          <th scope="col">After</th>
                            <th scope="col">Owner Permission</th>
                            <th scope="col">Share on your profile</th>
                            <th scope="col"><i class="fas fa-external-link-alt"></i></th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for PROJECT in PLIST %}
                        <tr>
                          <th scope="row" class="align-middle">
                              <img class="img-responsive" src="{{ PROJECT.client.get_profile_thumbnail }}" width="60" height="60" alt="{{ PROJECT.client.default_user.first_name }}-image">
                              {{ PROJECT.client.default_user.first_name }} {{ PROJECT.client.default_user.last_name }}
                          </th>
                            <td><img class="img-responsive" src="{{ PROJECT.input_image.url }}" width="200" alt="project-image"></td>
                        {% if PROJECT.output_image %}
                            <td><img class="img-responsive" src="{{ PROJECT.output_image.url }}" width="200" alt="project-image"></td>
                        {% else %}
                            <td><img class="img-responsive" src="{{ PROJECT.input_image.url }}" width="200" alt="project-image"></td>
                        {% endif %}


                            <td class="align-middle">
                                {% if not PROJECT.allowed_to_share %}
                                    <i class="fas fa-times-circle fa-2x text-danger"></i>
                                {% else %}
                                    <i class="fas fa-check-circle fa-2x text-success"></i>
                                {% endif %}
                            </td>

                            <td class="align-middle">
                            <div class="btn-group">
                                {% if PROJECT.report_on_portfolio %}
                                    <button type="button" class="btn btn-secondary" id="portfolio-no-{{ PROJECT.id }}" onclick="change_portfolio({{ PROJECT.id }}, 'no')">No</button>
                                    <button type="button" class="btn btn-success" id="portfolio-yes-{{ PROJECT.id }}" onclick="change_portfolio({{ PROJECT.id }}, 'yes')">Yes</button>
                                {% else %}
                                    <button type="button" class="btn btn-danger" id="portfolio-no-{{ PROJECT.id }}" onclick="change_portfolio({{ PROJECT.id }}, 'no')">No</button>
                                    <button type="button" class="btn btn-secondary" id="portfolio-yes-{{ PROJECT.id }}" onclick="change_portfolio({{ PROJECT.id }}, 'yes')">Yes</button>
                                {% endif %}
                            </div>
                            </td>

                            <td class="align-middle">
                                <a target="_blank" class="btn btn-theme03" href="/project/{{ PROJECT.id }}/"><i class="fas fa-external-link-square-alt"></i> Open</a>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
             </table>

      </section>
{% endblock %}


{% block SCRIPTS %}
<script>
function change_portfolio(project_id, action) {
  if(action == 'yes'){
    $("#portfolio-no-"+project_id).removeClass("btn-danger").addClass("btn-secondary");
    $("#portfolio-yes-"+project_id).removeClass("btn-secondary").addClass("btn-success");
  }else{
    $("#portfolio-no-"+project_id).removeClass("btn-secondary").addClass("btn-danger");
    $("#portfolio-yes-"+project_id).removeClass("btn-success").addClass("btn-secondary");
  }
  $.ajax({
      url: ".",
      type: "POST",
      data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          type: 'change_portfolio',
          project_id: project_id,
          allow_status: action,
      }
  });
}
</script>
{% endblock %}