{% extends 'base.html' %}
{% load static %}
{% block STYLESHEETS %}
{% endblock %}

{% block MAIN_CONTENT %}
     <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="row content-panel">
              <div class="col-md-4 profile-text mt mb centered">
                <div class="right-divider hidden-sm hidden-xs">
                  <h4>{{ PROFILE.get_projects|length }}</h4>
                  <h6>EDITS</h6>
                  <h4>
                    {% for star in PROFILE.get_feedback_range.0 %}<i class="fas fa-star fa-xs text-warning" ></i>{% endfor %}
                      {% if PROFILE.get_feedback_range.1 %}<i class="fas fa-star-half fa-xs text-warning" ></i> {% endif %}
                  </h4>
                    <h6>AVERAGE FEEDBACKS ({{ PROFILE.get_feedback }})</h6>
                {% if PROFILE.role == 'designer' %}
                  <h4>{{ PROFILE.score }}</h4>
                  <h6>SCORE</h6>
                {% endif %}
                </div>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 profile-text">
                <h3>{{ PROFILE.full_name }}</h3>
                <h6>{% if PROFILE.role == 'client' %} Client {% else %} Editor {% endif %}</h6>
              {% if PROFILE.role == 'designer' %}
                  <p><strong>{{ PROFILE.default_user.first_name }}</strong> is a <strong>level {{ PROFILE.get_level }}</strong> editor and joined PhotoHub on {{ PROFILE.default_user.date_joined }}. {{ PROFILE.default_user.first_name }} has successfuly edited {{ PROFILE.get_projects|length }} so far.
                  </p>
              {% else %}
                  <p>Look at all requests <strong>{{ PROFILE.default_user.first_name }}</strong> posted in our website. {{ PROFILE.default_user.first_name }} joined PhotoHub on {{ PROFILE.default_user.date_joined }} and got {{ PROFILE.get_projects|length }} edits from our app so far.</p>
              {% endif %}
                <br>
              {% if PROFILE.role == 'designer' %}
                <p> <a href="portfolio/"><button class="btn btn-theme"><i class="fas fa-th-list"></i> Open portfolio</button></a> </p>
              {% else %}
                  <p><a href="portfolio/"> <button class="btn btn-theme"><i class="fas fa-th-list"></i> Look at public edits</button></a></p>
              {% endif %}
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 centered">
                <div class="profile-pic">
                  <p><img src="{{ PROFILE.get_profile_thumbnail }}" class="img-circle" style="width: 35%; height: auto;"></p>
                    {% if PROFILE.role == 'designer' %}
                    <p><button class="btn btn-theme02"><i class="fas fa-angle-double-up"></i> LEVEL {{ PROFILE.get_level }} EDITOR</button>
                        {% if PROFILE.user_plus %}
                            <button class="btn btn-theme03"><i class="fas fa-plus"></i> USER Plus</button>
                        {% endif %}
                        </p>
                    {% endif %}
                </div>
              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
          </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <div id="overview" class="tab-pane active">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="detailed mt">
                          <h4>Recent Edits</h4>
                          <div class="recent-activity">
                              {% for recent in PROFILE.get_public_projects %}
                            <div class="activity-icon bg-theme"><i class="fa fa-check"></i></div>
                            <div class="activity-panel">
                              <h5>{{ recent.time_finished }}</h5>
                                <p><a href="/project/{{ recent.id }}/">See this edit</a></p>
                            </div>
                              {% endfor %}
                          </div>
                          <!-- /recent-activity -->
                        </div>
                        <!-- /detailed -->
                      </div>
                      <!-- /col-md-6 -->
                      <div class="col-md-6 detailed">

                      {% if PROFILE.role == 'designer' %}
                        <h4>ACHIEVEMENts</h4>
                        <div class="row centered mt mb">
                          <div class="col-sm-4">
                            <h1><i class="fa fa-award"></i></h1>
                            <h3>{% for t in PROFILE.get_level_range %} <i class="fas fa-award"></i>{% endfor %}</h3>
                            <h6>LEVELS ACHIEVED</h6>
                          </div>
                          <div class="col-sm-4">
                            <h1><i class="fa fa-star text-warning"></i></h1>
                            <h3>{{ PROFILE.get_feedback }}</h3>
                            <h6>AVERAGE FEEDBACK</h6>
                          </div>
                          <div class="col-sm-4">
                            <h1><i class="fas fa-money-bill-wave text-success"></i></h1>
                            <h3>{{ PROFILE.get_rate }}</h3>
                            <h6>RATE PER EDIT</h6>
                          </div>
                        </div>
                      {% endif %}

                        <!-- /row -->
                        <h4>{% if PROFILE.role == 'designer' %}RECENT CLIENTS{% else %}RECENT EDITORS{% endif %}</h4>
                        <div class="row centered mb">
                          <ul class="my-friends">
                              {% for opponent in PROFILE.get_opposite_list %}
                            <li>
                            <a href="/profile/{{ opponent.default_user.id }}/">
                              <div class="friends-pic"><img class="img-circle rounded-circle" width="60" height="60" src="{{ opponent.get_profile_thumbnail }}"></div>
                            </a>
                            </li>
                              {% endfor %}
                          </ul>
                        </div>
                        <!-- /row -->
                      {% if PROFILE.role == 'designer' and PROFILE.user_plus%}
                        <h4>SOCIAL LINKS</h4>
                        <div class="row centered">
                          <div class="col-md-8 col-md-offset-2">

                              <div class="row h5">
                                  <div class="col-md-4"><i class="fas fa-home fa-2x"></i></div>
                                  <div class="col-md-8"><a href="{{ PROFILE.homepage_url }}">{{ PROFILE.instagram_url }}</a></div>
                              </div>

                              <div class="row h5">
                                  <div class="col-md-4"><i class="fab fa-instagram-square fa-2x"></i></div>
                                  <div class="col-md-8"><a href="{{ PROFILE.instagram_url }}">{{ PROFILE.instagram_url }}</a></div>
                              </div>

                              <div class="row h5">
                                  <div class="col-md-4"><i class="fab fa-linkedin fa-2x"></i></div>
                                  <div class="col-md-8"><a href="{{ PROFILE.linkedin_url }}">{{ PROFILE.instagram_url }}</a></div>
                              </div>
                          </div>
                          <!-- /col-md-8 -->
                        </div>

                      {% endif %}
                        <!-- /row -->
                      </div>
                      <!-- /col-md-6 -->
                    </div>
                    <!-- /OVERVIEW -->
                  </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
{% endblock %}


{% block SCRIPTS %}
{% endblock %}