{% extends 'base.html' %}
{% load static %}
{% block STYLESHEETS %}
{% endblock %}

{% block MAIN_CONTENT %}
     <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Active Editors in PhotoHub</h3>
        <hr>

             <table class="table table-striped">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Client</th>
                          <th scope="col">Preview</th>
                          <th scope="col">Deadline</th>
                            <th scope="col"><i class="fas fa-external-link-alt"></i></th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for PROJECT in PLIST %}
                        <tr>
                          <th scope="row" >
                              <img class="img-responsive" src="{{ PROJECT.client.get_profile_thumbnail }}" width="60" height="60" alt="{{ PROJECT.client.default_user.first_name }}-image">
                              {{ PROJECT.client.default_user.first_name }} {{ PROJECT.client.default_user.last_name }}
                          </th>
                            <td><img class="img-responsive" src="{{ PROJECT.input_image.url }}" width="200" alt="project-image"></td>
                            {% if PROJECT.days_remaining < 1 %}
                                    <td class="text-danger font-weight-bolder">{{ PROJECT.target_deadline }}</td>
                            {% elif PROJECT.days_remaining < 3 %}
                                <td class="text-warning font-weight-bolder">{{ PROJECT.target_deadline }}</td>
                            {% else %}
                                <td class="text-warning font-weight-bolder">{{ PROJECT.target_deadline }}</td>
                        {% endif %}

                            <td><a href="#">Open project</a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
             </table>

      </section>
{% endblock %}


{% block SCRIPTS %}
{% endblock %}