{% extends 'base.html' %}
{% load static %}

{% block STYLESHEETS %}
<link href={% static "lib/bootstrap-fileupload/bootstrap-fileupload.css" %} rel="stylesheet" />
<link href={% static "lib/bootstrap-datepicker/css/datepicker.css" %} rel="stylesheet" />
{% endblock %}

{% block MAIN_CONTENT %}

      <section class="wrapper">

    <h3><i class="fa fa-angle-right"></i> Post a new edit request</h3>

      {% if ERROR %}
          {% for error in ERROR %}<h5 class="text-danger">{{ error }}</h5>{% endfor %}
      {% endif %}

        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <form action="#" method="post" class="form-horizontal style-form" enctype="multipart/form-data">{% csrf_token %}

              <h1 class="text-info">Step 1</h1>
                <div class="form-group">
                  <label class="control-label col-md-3">The photo you want to be edited</label>
                  <div class="col-md-9">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-new thumbnail">
                            <img src="{% static 'images/NewRequest.jpg' %}" width="300" height="200" alt="" />
                      </div>
                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                      <div>
                        <span class="btn btn-theme02 btn-file">
                          <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                        <input type="file" class="default" name="main_input" accept="image/x-png,image/gif,image/jpeg"/>
                        </span>
                        <a href="advanced_form_components.html#" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                      </div>
                    </div>
                  </div>
                </div>

              <h1 class="text-info">Step 2</h1>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Your description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control"  name="description" required></textarea>
                    <span class="help-block">In a few sentences explain any special requests. Leave it empty if you need a general improvement on your photo</span>
                  </div>
                </div>


              <h1 class="text-info">Step 3</h1>
                <div class="form-group">
                  <label class="control-label col-md-3">When is the deadline?</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" value="" name="deadline">
                    <span class="help-block">Select date</span>
                  </div>
                </div>

                <div class="form-group last">
                    <button type="submit" class="btn btn-primary btn-round btn-block">Post your request</button>
                </div>

              </form>
            </div>
            <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- row -->
      </section>
{% endblock %}


{% block SCRIPTS %}
    <script src={% static "lib/bootstrap-fileupload/bootstrap-fileupload.js" %}></script>
    <script src={% static "lib/bootstrap-datepicker/js/bootstrap-datepicker.js" %}></script>
  <script src={% static "lib/advanced-form-components.js" %}></script>
{% endblock %}