{% extends 'base.html' %}
{% load static %}
{% block STYLESHEETS %}
{% endblock %}

{% block MAIN_CONTENT %}
      <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row mt">
            <div class="col-sm-1"></div>
          <div class="col-sm-10 bg-white">
            <section class="panel">
              <header class="panel-heading wht-bg">
                <h4 class="gen-case">
                    Notifications ({{ USER_INFO.get_unread_notifications.count }} new)
                  </h4>
              </header>
              <div class="panel-body minimal">
                <div class="mail-option">
                  <div class="btn-group">
                    <a data-original-title="Select All" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                      <i class="far fa-check-square"></i> Select All
                      </a>
                  </div>
                  <div class="btn-group">
                    <a data-original-title="Mark as Read" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                      <i class="far fa-envelope-open"></i> Mark as Read
                      </a>
                  </div>
                  <div class="btn-group">
                    <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                      <i class="fas fa-sync-alt"></i>
                      </a>
                  </div>
                  <ul class="unstyled inbox-pagination">
                    <li><span>{{ NOTIF_PAGINATOR.start_index }}-{{ NOTIF_PAGINATOR.end_index }} of {{ USER_INFO.get_notifications.count }}</span></li>
                  {% if NOTIF_PAGINATOR.has_previous %}
                    <li>
                      <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                    </li>
                  {% endif %}
                      {% if NOTIF_PAGINATOR.has_next %}
                    <li>
                      <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                    </li>
                      {% endif %}
                  </ul>
                </div>
                <div class="table-inbox-wrap ">
                  <table class="table table-inbox table-hover">
                    <tbody>
                    {% for notif in NOTIF_PAGINATOR %}
                      <tr {% if not notif.read %} class="unread" {% endif %}>
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox" id="notif-{{ notif.id }}">
                        </td>
                        <td class="view-message  dont-show"><a href={{ notif.link }}>Open</a></td>
                        <td class="view-message ">{{ notif.content }}</td>
                        <td class="view-message  text-right">{{ notif.date_created }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
{% endblock %}


{% block SCRIPTS %}
{% endblock %}