{% extends 'base.html' %}
{% load static %}
{% block STYLESHEETS %}
{% endblock %}

{% block MAIN_CONTENT %}
     <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="row content-panel">
              <div class="col-md-4 profile-text mt mb centered">
                <div class="right-divider hidden-sm hidden-xs">
                  <h4>{{ PROFILE.get_projects|length }}</h4>
                  <h6>EDITS</h6>
                  <h4>
                    {% for star in PROFILE.get_feedback_range.0 %}<i class="fas fa-star fa-xs text-warning" ></i>{% endfor %}
                      {% if PROFILE.get_feedback_range.1 %}<i class="fas fa-star-half fa-xs text-warning" ></i> {% endif %}
                  </h4>
                    <h6>AVERAGE FEEDBACKS ({{ PROFILE.get_feedback }})</h6>
                {% if PROFILE.role == 'designer' %}
                  <h4>{{ PROFILE.score }}</h4>
                  <h6>SCORE</h6>
                {% endif %}
                </div>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 profile-text">
                <h3>{{ PROFILE.full_name }}</h3>
                <h6>{% if PROFILE.role == 'client' %} Client {% else %} Editor {% endif %}</h6>
              {% if PROFILE.role == 'designer' %}
                  <p><strong>{{ PROFILE.default_user.first_name }}</strong> is a <strong>level {{ PROFILE.get_level }}</strong> editor</p>
              {% else %}
                  <p>Look at all requests <strong>{{ PROFILE.default_user.first_name }}</strong> posted in our website</p>
              {% endif %}
                <br>
              {% if PROFILE.role == 'designer' %}
                <p><button class="btn btn-theme"><i class="fas fa-th-list"></i> Open portfolio</button></p>
              {% else %}
                  <p><button class="btn btn-theme"><i class="fas fa-th-list"></i> Look at public edits</button></p>
              {% endif %}
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 centered">
                <div class="profile-pic">
                  <p><img src="{{ PROFILE.get_profile }}" class="img-circle" style="width: 45%; height: auto;"></p>
                </div>
              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
          </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                    <a data-toggle="tab" href="#overview">Overview</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <div id="overview" class="tab-pane active">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="detailed mt">
                          <h4>Recent Edits</h4>
                          <div class="recent-activity">
                              {% for recent in PROFILE.get_public_projects %}
                            <div class="activity-icon bg-theme"><i class="fa fa-check"></i></div>
                            <div class="activity-panel">
                              <h5>{{ recent.time_finished }}</h5>
                              <p>Edit finished</p>
                            </div>
                              {% endfor %}
                          </div>
                          <!-- /recent-activity -->
                        </div>
                        <!-- /detailed -->
                      </div>
                      <!-- /col-md-6 -->
                      <div class="col-md-6 detailed">
                        <h4>User Stats</h4>
                        <div class="row centered mt mb">
                          <div class="col-sm-4">
                            <h1><i class="fa fa-money"></i></h1>
                            <h3>$22,980</h3>
                            <h6>LIFETIME EARNINGS</h6>
                          </div>
                          <div class="col-sm-4">
                            <h1><i class="fa fa-trophy"></i></h1>
                            <h3>37</h3>
                            <h6>COMPLETED TASKS</h6>
                          </div>
                          <div class="col-sm-4">
                            <h1><i class="fa fa-shopping-cart"></i></h1>
                            <h3>1980</h3>
                            <h6>ITEMS SOLD</h6>
                          </div>
                        </div>
                        <!-- /row -->
                        <h4>{% if PROFILE.role == 'designer' %}RECENT CLIENTS{% else %}RECENT EDITORS{% endif %}</h4>
                        <div class="row centered mb">
                          <ul class="my-friends">
                              {% for opponent in PROFILE.get_opposite_list %}
                            <li>
                            <a href="/profile/{{ opponent.id }}/">
                              <div class="friends-pic"><img class="img-circle" width="50" height="50" src="{{ opponent.get_profile_thumbnail }}"></div>
                            </a>
                            </li>
                              {% endfor %}
                          </ul>
                        </div>
                        <!-- /row -->
                        <h4>Pending Tasks</h4>
                        <div class="row centered">
                          <div class="col-md-8 col-md-offset-2">
                            <h5>Dashboard Update (40%)</h5>
                            <div class="progress">
                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                              </div>
                            </div>
                            <h5>Unanswered Messages (80%)</h5>
                            <div class="progress">
                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (success)</span>
                              </div>
                            </div>
                            <h5>Product Review (60%)</h5>
                            <div class="progress">
                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (success)</span>
                              </div>
                            </div>
                            <h5>Friend Requests (90%)</h5>
                            <div class="progress">
                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="sr-only">90% Complete (success)</span>
                              </div>
                            </div>
                          </div>
                          <!-- /col-md-8 -->
                        </div>
                        <!-- /row -->
                      </div>
                      <!-- /col-md-6 -->
                    </div>
                    <!-- /OVERVIEW -->
                  </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
{% endblock %}


{% block SCRIPTS %}
{% endblock %}