{% extends 'base.html' %}
{% load static %}
{% block STYLESHEETS %}
    <link href={% static "lib/image-slider/css/twentytwenty.css" %} rel="stylesheet">
    <link href={% static "lib/rateYo/jquery.rateyo.min.css" %} rel="stylesheet">
    <script src={% static "lib/chart-master/Chart.js" %}></script>
{% endblock %}

{% block MAIN_CONTENT %}
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
            <!--CUSTOM CHART START -->
            <div class="border-head">
              <h3>Photo {% if PROJECT.status is not 'finished' %}(not edited yet){% endif %}</h3>
            </div>
            <div class="custom-bar-chart">
                <div class="twentytwenty-container">
                          <img src="{{ PROJECT.input_image.url }}" style="height: 450px; width: 100%; object-fit: cover;">
                    {% if PROJECT.output_image %}
                        <img src="{{ PROJECT.output_image.url }}" style="height: 450px; width: 100%; object-fit: cover;">
                    {% else %}
                        <img src="{{ PROJECT.input_image.url }}" style="height: 450px; width: 100%; object-fit: cover;">
                    {% endif %}

                </div>
            </div>
            <div class="row" style="margin-top: 200px;">
              <!-- WEATHER PANEL -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn">
                  <div class="darkblue-header">
                    <h5>Edit deadline</h5>
                  </div>
                  <canvas id="serverstatus02" height="120" width="120"></canvas>
                    {% if PROJECT.days_remaining >= 0%}
                          <script>
                            var doughnutData = [{
                                value: {{ PROJECT.days_remaining }},
                                color: "#1c9ca7"
                              },
                              {
                                value: {{ PROJECT.total_days }} - {{ PROJECT.days_remaining }},
                                color: "#f68275"
                              }
                            ];
                            var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                          </script>
                    {% else %}
                      <script>
                            var doughnutData = [{
                                value: 1,
                                color: "#F88"
                              }
                            ];
                            var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                          </script>
                    {% endif %}
                  <p class="text-warning">{{ PROJECT.target_deadline }}</p>
                  <footer>
                    <div class="pull-left">
                    {% if PROJECT.days_remaining >= 0%}
                      <h5><i class="fa fa-hdd-o"></i>{{ PROJECT.days_remaining }} days remaining</h5>
                    {% else %}
                        <h5><i class="fa fa-hdd-o"></i>Deadline passed</h5>
                    {% endif %}
                    </div>
                  </footer>
                </div>
                <!--  /darkblue panel -->
              </div>
              <!-- /col-md-4-->
              <!-- DIRECT MESSAGE PANEL -->
              <div class="col-md-8 mb">
                <div class="message-p pn">
                  <div class="message-header">
                    <h5>Request description</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-3 centered hidden-sm hidden-xs">
                      <img src="{{ PROJECT.client.get_profile_thumbnail }}" class="img-circl rounded-circle" width="65">
                    </div>
                    <div class="col-md-9">
                      <p>
                        <name>{{ PROJECT.client.default_user.first_name }} {{ PROJECT.client.default_user.last_name }}</name>
                        request
                      </p>
                      <p class="small">{{ PROJECT.date_created }}</p>
                      <p class="message">{{ PROJECT.description }}</p>
                    </div>
                  </div>
                </div>
                <!-- /Message Panel-->
              </div>
              <!-- /col-md-8  -->
            </div>

          {% if user == PROJECT.client.default_user or user == PROJECT.server.default_user %}
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="product-panel-2 pn">
                {% if PROJECT.status == 'finished' %}
                    <div class="badge badge-hot">Final</div>
                {% endif %}
                  <i class="fas fa-download fa-8x"></i>
                  <h5 class="mt">Download edit content</h5>
                  <h6>TOTAL SIZE: {{ PROJECT.get_file_size|floatformat:2 }} MB</h6>

                {% if PROJECT.status == 'finished' %}
                    <a href="{{ PROJECT.output_image.url }}" class="btn btn-small btn-theme04" role="button" aria-pressed="true" download><i class="fas fa-download"></i> Download</a>
                {% else %}
                    <a href="{{ PROJECT.input_file.url }}" class="btn btn-small btn-theme04" role="button" aria-pressed="true" download><i class="fas fa-download"></i> Download</a>
                {% endif %}
                </div>
              </div>
              <!-- /col-md-4 -->
                {% if user == PROJECT.server.default_user and PROJECT.status == 'progress'%}
                      <div class="col-md-4 col-sm-4 mb">
                        <div class="green-panel pn">
                          <div class="green-header">
                            <h5>Submit</h5>
                          </div>
                            <br>
                        <a target="_blank" href="/filemanager?MODEL_NAME=project&FIELD_NAME=output_file&MODEL_ID={{ PROJECT.id }}" class="btn btn-theme03 btn-xl active" style="margin-bottom: 25px;" role="button" aria-pressed="true"><i class="fas fa-upload"></i> upload panel</a>
                            <br>
                          <h3>Upload files</h3>
                        </div>
                      </div>
                {% endif %}
              <!-- /col-md-4 -->
            </div>
          {% endif %}
            <!-- /row -->
          </div>

          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->
          <div class="col-lg-3 ds">
            <!--COMPLETED ACTIONS DONUTS CHART-->
            <div class="donut-main">
              <h4>User</h4>
                <img class="img-responsive rounded-circle img-thumbnail" src="{{ PROJECT.client.get_profile_thumbnail }}" width="150" height="150" alt="{{ PROJECT.client.default_user.first_name }}-image">
                <br>
                <span>{{ PROJECT.client.default_user.first_name }}</span>
            </div>

            <h4 class="centered mt">
                Request status:
                {% if PROJECT.status == 'open' %}
                    <div class="btn btn-round btn-success btn-sm">Open</div>
                {% elif PROJECT.status == 'progress' %}
                    <div class="btn btn-round btn-warning btn-sm">Being edited</div>
                {% else %}
                    <div class="btn btn-round btn-theme04 btn-sm">Finished</div>
                {% endif %}
            </h4>

          {% if PROJECT.status == 'open' %}
              {% if USER_INFO.role == 'designer' and USER_INFO not in PROJECT.applicants.all%}
              <h4 class="centered mt">
              <button type="button" class="btn btn-round btn-warning" id="apply">Apply to edit</button>
                  <form id="application_form" method="POST" action="/project/{{ PROJECT.id }}/">
                      {% csrf_token %}
                      <input type="hidden" name="type" value="applicant_form">
                      <input type="hidden" name="applicant_id" value="{{ USER_INFO.default_user.id }}">
                  </form>
              </h4>
              {% else %}
                  <h4 class="centered mt text-info">The user is reviewing applicants</h4>
              {% endif %}
              <h4 class="centered mt">RECENT APPLICANTS</h4>
              {% for app in PROJECT.get_applicants %}
                <div class="desc">
                  <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                  </div>
                  <div class="details">
                    <p>
                      <muted> {% for l in app.get_level_range %}<i class="far fa-circle"></i>{% endfor %}</muted>
                      <br/>
                      <a href="/profile/{{ app.default_user.id }}/">{{ app.default_user.first_name }}</a> is ready to edit this photo<br/>
                    </p>
                  </div>
                </div>
              {% endfor %}
              {% if user == PROJECT.client.default_user %}
                  <div class="row justify-content-center">
                    <a href="/project/{{ PROJECT.id }}/applicants/" class="btn btn-theme text-light"><i class="fas fa-list-alt"></i> See all</a>
                  </div>
              {% endif %}
          {% elif PROJECT.status == 'progress' %}
              <h4 class="centered mt">EDITOR</h4>
                <div class="desc">
                  <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                  </div>
                  <div class="details">
                    <p>
                      <muted> {% for l in PROJECT.server.get_level_range %}<i class="far fa-circle"></i>{% endfor %}</muted>
                      <br/>
                      <a href="/profile/{{ PROJECT.server.default_user.id }}/">{{ PROJECT.server.default_user.first_name }}</a> is editing this photo<br/>
                    </p>
                  </div>
                </div>

          {% elif PROJECT.status == 'finished' %}
              <h4 class="centered mt">EDITOR</h4>
                <div class="desc">
                  <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                  </div>
                  <div class="details">
                    <p>
                      <muted> {% for l in PROJECT.server.get_level_range %}<i class="far fa-circle"></i>{% endfor %}</muted>
                      <br/>
                      <a href="/profile/{{ PROJECT.server.default_user.id }}/">{{ PROJECT.server.default_user.first_name }}</a> edited this photo<br/>
                    </p>
                  </div>
                </div>

              {% if user == PROJECT.client.default_user%}

                 {% if PROJECT.price_spend >= 1 %}
                  <h4 class="centered mt">Allow {{ PROJECT.server.default_user.first_name }} to show this edit on portfolio?</h4>
                    <div class="desc">
                    <div class="row justify-content-center">
                          <div class="btn-group">
                              {% if PROJECT.allow_to_share %}
                                    <button type="button" class="btn btn-seconday" id="share-no">No</button>
                                    <button type="button" class="btn btn-success" id="share-yes">Yes</button>
                              {% else %}
                                    <button type="button" class="btn btn-danger" id="share-no">No</button>
                                    <button type="button" class="btn btn-secondary" id="share-yes">Yes</button>
                              {% endif %}

                          </div>
                    </div>
                    </div>
                 {% endif %}

              <h4 class="centered mt">How much do you like this edit?</h4>
                <div class="desc">
                <div class="row justify-content-center">
                    <div id="rateYo"></div>
                </div>
                </div>


              {% else %}

              <h4 class="centered mt">Client's feedback</h4>
                <div class="desc">
                <div class="row justify-content-center">
                      {% if PROJECT.owner_feedback and  PROJECT.owner_feedback > 0%}
                                  {% for r in PROJECT.get_feedback_range %}
                                    <i class="fas fa-star fa-2x text-warning"></i>
                                  {% endfor %}
                      {% else %}
                          Not rated yet!
                      {% endif %}
                </div>
                </div>


              {% endif %}



          {% endif %}

            <!-- / calendar -->
          </div>
          <!-- /col-lg-3 -->
        </div>
        <!-- /row -->
      </section>
{% endblock %}


{% block SCRIPTS %}
<script src={% static "lib/image-slider/js/jquery.event.move.js" %}></script>
<script src={% static "lib/image-slider/js/jquery.twentytwenty.js" %}></script>
<script>$(function(){$(".twentytwenty-container").twentytwenty();});</script>
<script src={% static "lib/sweetalert/sweetalert2.all.min.js" %}></script>

{% if USER_INFO.role == 'designer' and USER_INFO not in PROJECT.applicants.all%}
<script>
const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
});


document.getElementById('apply').onclick = function () {
    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You are not able to withdraw from an application",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, continue!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    }).then((result) => {
      if (result.value) {
          // submit application:
        swalWithBootstrapButtons.fire(
          'Submitted',
          'You have been added to the list',
          'success'
        )
      document.getElementById('application_form').submit();
      } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Review other requests',
          'error'
        )
      }
    });
}
</script>
{% endif %}

{% if PROJECT.client.default_user == user and PROJECT.status == 'finished' %}
<script src={% static "lib/rateYo/jquery.rateyo.min.js" %}></script>
<script>
$(function () {

    $("#rateYo").rateYo({

        {% if PROJECT.owner_feedback %}
            rating: {{ PROJECT.owner_feedback }},
        {% else %}
            rating: 0,
        {% endif %}
        fullStar: true,
        onSet: function (rating, rateYoInstance) {
              $.ajax({
                  url: ".",
                  type: "POST",
                  data: {
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                      type: 'client_rating',
                      rating_value: rating,
                  }
              });
        }
      });

});
</script>
{% if PROJECT.price_spend >= 1 %}
<script>
{% if PROJECT.allow_to_share %}
    var allow_status = 'yes';
{% else %}
    var allow_status = 'no';
{% endif %}
function send_allow_status() {
  $.ajax({
      url: ".",
      type: "POST",
      data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          type: 'allow_status',
          allow_status: allow_status,
      }
  });
}

document.getElementById('share-no').onclick = function () {
    allow_status = 'no';
    $("#share-no").removeClass("btn-secondary").addClass("btn-danger");
    $("#share-yes").removeClass("btn-success").addClass("btn-secondary");
    send_allow_status();
}

document.getElementById('share-yes').onclick = function () {
    allow_status = 'yes';
    $("#share-no").removeClass("btn-danger").addClass("btn-secondary");
    $("#share-yes").removeClass("btn-secondary").addClass("btn-success");
    send_allow_status();
}
</script>
{% endif %}

{% endif %}

{% endblock %}