{% extends 'base.html' %}
{% load static %}

{% block STYLESHEETS %}
<link href={% static "lib/bootstrap-fileupload/bootstrap-fileupload.css" %} rel="stylesheet" />
{% endblock %}

{% block MAIN_CONTENT %}

      <section class="wrapper">

        {% if EDIT_PROFILE %}
            <h3><i class="fa fa-angle-right"></i>Edit your profile</h3>
        {% else %}
            <h3><i class="fa fa-angle-right"></i> Clients sign-up form</h3>
      {% endif %}

      {% if ERROR %}
          {% for error in ERROR %}<h5 class="text-danger">{{ error }}</h5>{% endfor %}
      {% endif %}

        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <form action="#" method="post" class="form-horizontal style-form" enctype="multipart/form-data">{% csrf_token %}
                {% if EDIT_PROFILE %}<input type="hidden" name="form_flag" value="edit_profile">{% endif %}

                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">First Name</label>
                  <div class="col-sm-10">
                    <input type="text" name="first_name" class="form-control" {% if EDIT_PROFILE %} value="{{ USER_INFO.default_user.first_name }}" {% endif %}>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" name="last_name" class="form-control" {% if EDIT_PROFILE %} value="{{ USER_INFO.default_user.last_name }}" {% endif %}>
                  </div>
                </div>

                {% if EDIT_PROFILE %}
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">Email Address (username)
                        {% if USER_INFO.activated %}
                            <span class="badge bg-success text-light">Active</span>
                        {% else %}
                            <span class="badge bg-danger text-light">Not Active</span>
                        {% endif %}
                  </label>
                  <div class="col-lg-10">
                    <p class="form-control-static">{{ USER_INFO.default_user.email }}</p>
                  </div>
                </div>
              {% else %}
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Email address (username)</label>
                  <div class="col-sm-10">
                    <input name="email" type="emailt" class="form-control round-form" >
                  </div>
                </div>
              {% endif %}

                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Phone Number</label>
                  <div class="col-sm-10">
                    <input name="phone" type="tel" class="form-control round-form" value="{{ USER_INFO.phone_number }}">
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="password">
                    <span class="help-block">Your password can’t be too similar to your other personal information. Your password must contain at least 8 characters. Your password can’t be entirely numeric.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Password repeat</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="password_repeat">
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3">Profile Picture (optional)</label>
                  <div class="col-md-9">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                          {% if EDIT_PROFILE %}
                              <img src="{{ USER_INFO.get_profile_thumbnail }}" width="150" height="150" alt="" />
                          {% else %}
                            <img src="{% static 'img/UserProfileDefault.png' %}" width="150" height="150" alt="" />
                          {% endif %}
                      </div>
                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                      <div>
                        <span class="btn btn-theme02 btn-file">
                          <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                        <input type="file" class="default" name="profile" accept="image/x-png,image/gif,image/jpeg"/>
                        </span>
                        <a href="advanced_form_components.html#" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group last">
                    <button type="submit" class="btn btn-primary btn-round btn-block">Submit</button>
                </div>

              </form>
            </div>
            <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- row -->
      </section>
{% endblock %}


{% block SCRIPTS %}
    <script src={% static "lib/bootstrap-fileupload/bootstrap-fileupload.js" %}></script>
  <script src={% static "lib/advanced-form-components.js" %}></script>
{% endblock %}